<div class="box <%= mail.message_id == params[:id] ? 'has-background-success-light' : '' %>">
  <strong>Subject: </strong><%= link_to mail.subject, "?id=#{mail.message_id}" %> <br>
  <strong>To: </strong><%= mail.to.join(', ') %><br>
  <strong>Date: </strong><%= I18n.l(mail.date, format: :long) %><br>
</div>