<% content_for :style do %>
    body, iframe {
    height: 100vh;
  }

  iframe {
    border: 0;
    width: 100%;
  }

  .mail-list-column {
    height: 100vh;
    overflow: scroll;
    min-width: 20em;
  }

  .link-button {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: #000;
    cursor: pointer;
    width: 100%;
    text-align: left;
  }

  .mail-list-item {
    background-color: #fff!important;
    padding: 1rem;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%) !important;
  }

  .mail-list-item.selected-mail {
    background-color: #ffffff!important;
    border-left: 8px solid #ed900c;
   padding-left: calc(1rem - 8px);
  }

  .mail-list-item:hover {
    cursor: pointer !important;
    border-left: 8px solid lightgrey;
    padding-left: calc(1rem - 8px);
  }

  .mail-list-item.selected-mail:hover {
    border-left: 8px solid #ed900c;
  }

  #iframe-mail-container {
    background-color: whitesmoke !important;
  }

  .dropdown-trigger:hover {
    cursor: pointer !important;
  }

  .dropdown-item:hover {
    background-color: whitesmoke !important;
  }
<% end %>

<div class="flex">
  <div class="w-92">
    <div class="navbar bg-base-100 shadow-sm">
      <div class="flex-1">
        <a class="btn btn-ghost text-xl">daisyUI</a>
      </div>
      <div class="flex-none">

<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
    <i class="bi bi-three-dots-vertical text-lg"></i>
  </div>
  <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
    <li>
      <%= button_to '/gravity_mailbox/delete_all', method: :post, class: "text-error" do %>
        <i class="bi bi-trash3"></i>
        Delete all
      <% end %>
    </li>
  </ul>
</div>
      </div>
    </div>
  </div>
  <div class="flex-1">

  </div>
</div>

<div class="columns mb-0 mt-0" x-data="{ id: null }">
  <div class="column is-one-quarter pt-0 pr-0 mail-list-column">
    <div class="navbar has-background-info">
      <div class="navbar-brand">
        <h1 class="navbar-item title is-6 has-text-white">GravityMailbox</h1>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="dropdown is-right">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                  <i class="icon bi bi-list"></i>
                </button>
<!--                 <span class="icon has-text-white has-text-centered" aria-controls="dropdown-menu">-->
<!--                </span>-->
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <div class="dropdown-item">
                    <%= button_to '/gravity_mailbox/delete_all', class: ['link-button'], method: :post do %>
                      <span class="icon-text">
                        <span class="icon has-text-centered">
                          <i class="bi bi-trash3"></i>
                        </span>
                        <span>Delete all</span>
                      </span>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% @mails.each_with_index do |mail, index| %>
      <%= render partial: 'mail', locals: { mail: mail, index: index } %>
    <% end %>
  </div>
  <div class="column pb-0 pt-0 pl-0" x-data="{ part: 'html' }">
    <iframe id="iframe-mail-container"
            seamless
            name="messageBody"
            x-bind:src="'/gravity_mailbox?part=' + true + '&id=' + id"
            ></iframe>
  </div>
</div>

<script>
    // function closeAllOtherDropdown(e) {
    //     document.querySelectorAll(".dropdown").forEach((dropdown) => {
    //         dropdown.classList.remove('is-active');
    //     })
    // }

    // Click on mail and change iframe src
    <!-- let mailItems = document.querySelectorAll(".mail-list-item") -->
    <!-- mailItems.forEach(mailItem => { -->
        <!-- mailItem.addEventListener("click", () => { -->
            <!-- document.querySelector("#iframe-mail-container").src = "/gravity_mailbox?part=true&id=" + mailItem.dataset.mailId -->
            <!-- mailItems.forEach(mailItem => mailItem.classList.remove("selected-mail")) -->
            <!-- mailItem.classList.add("selected-mail") -->
        <!-- }) -->
    <!-- }) -->

    // Close all dropdowns if the user clicks outside of them
    // document.addEventListener("click", (e) => {
    //     document.querySelectorAll(".dropdown").forEach((dropdown) => {
    //         dropdown.classList.remove("is-active")
    //     })
    // });
    //
    // // Each mail menu dropdown
    // document.querySelectorAll('.dropdown-trigger').forEach((dropdown) => {
    //     dropdown.addEventListener('click', function (e) {
    //         closeAllOtherDropdown(e)
    //         e.target.closest(".dropdown").classList.toggle('is-active');
    //         e.stopPropagation();
    //     })
    // })

    function displayAutomaticallyTheFirstEmail() {
        const mailItems = document.querySelectorAll(".mail-list-item");
        if (mailItems.length) {
            const mailItem = mailItems[0];
            document.querySelector("#iframe-mail-container").src = "/gravity_mailbox?part=true&id=" + mailItem.dataset.mailId;
            mailItem.classList.add("selected-mail");
        } else {
            const iframe = document.querySelector("#iframe-mail-container");

            const iframeBody = iframe.contentDocument.body;
            if (iframeBody) {
                const p = document.createElement('p');
                p.textContent = "No email received yet.";
                p.style.fontFamily = "sans-serif";
                p.style.fontSize = "20px";
                p.style.fontWeight = "100";
                iframeBody.appendChild(p);
                iframeBody.style.display = "flex";
                iframeBody.style.justifyContent = "center";
                iframeBody.style.alignItems = "center";
            }
        }
    }

    document.addEventListener("DOMContentLoaded", displayAutomaticallyTheFirstEmail);
</script>
