<% content_for :style do %>
  body, iframe {
    height: 100vh;
  }

  iframe {
    border: 0;
    width: 100%;
  }
<% end %>

<div class="flex" x-data="{ part: 'html', id: '' }">
  <div class="w-92">
    <div class="navbar bg-[#007bff] shadow-sm font-['Righteous']">
      <div class="flex-1">
        <span class="pl-4 text-xl text-white">GravityMailbox</span>
      </div>
      <div class="flex-none">
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle text-white">
            <i class="bi bi-list text-lg"></i>
          </div>
          <ul tabindex="0" class="dropdown-content menu shadow-sm bg-base-100 w-52">
            <li>
              <%= button_to delete_all_path, method: :post, onclick: "return confirm('Are you sure you want to delete all emails?');" do %>
                <i class="bi bi-trash3"></i>
                Delete all
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <% @mails.each_with_index do |mail, index| %>
        <%= render partial: 'mail', locals: { mail: mail, index: index } %>
      <% end %>
    </div>

  </div>
  <div class="flex-1 border-l-1 border-base-200">
    <div class="column pb-0 pt-0 pl-0">
      <iframe id="iframe-mail-container"
              seamless
              name="messageBody"
              x-bind:src="'<%= index_path(part: true) %>' + '&id=' + id"
      ></iframe>
    </div>
  </div>
</div>

<script>
  function displayAutomaticallyTheFirstEmail() {
    const mailItems = document.querySelectorAll(".mail-list-item");
    if (mailItems.length) {
      const mailItem = mailItems[0];
      document.querySelector("#iframe-mail-container").src = "/gravity_mailbox?part=true&id=" + mailItem.dataset.mailId;
      mailItem.classList.add("selected-mail");
    } else {
      const iframe = document.querySelector("#iframe-mail-container");

      const iframeBody = iframe.contentDocument.body;
      if (iframeBody) {
        const p = document.createElement('p');
        p.textContent = "No email received yet.";
        p.style.fontFamily = "sans-serif";
        p.style.fontSize = "20px";
        p.style.fontWeight = "100";
        iframeBody.appendChild(p);
        iframeBody.style.display = "flex";
        iframeBody.style.justifyContent = "center";
        iframeBody.style.alignItems = "center";
      }
    }
  }

  document.addEventListener("DOMContentLoaded", displayAutomaticallyTheFirstEmail);
</script>
